<header>
    <nav>
        <ul class="right">
            <li><a href="/blog">Blog</a></li>
            <li><a href="/new-blog">New Blog</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <ul class="left">
            <% if(name !== null){ %>
                <li><a href="/log-out">Log Out</a></li>
                <li style="display: block; padding: 16px 50px;text-align: center;"><%= name %></li>
            <% }else{ %>
                <li ><a href="/sign-up">Sign Up</a></li>
                <li ><a href="/log-in">Log In</a></li>
            <% } %>
        </ul>
        <hr>
    </nav>
</header>