<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link href="/Style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <h1>We don't have what are you looling for <% if(name !== null) %><%= name %> :)</h1>

    </body>
</html>
