<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link href="/Style.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <h1>About this simple project :)</h1 >
        <p>This is a simple blog auth project with jwt node js and express where you can sign up and write a simple article.</p>   
    </body>
</html>
