<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link href="/Style.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <h1>Welcome to blog project</h1>

    </body>
</html>
